{{- define "main" -}}

<main class="wrapper">
  <header class="page-title">
    <h1>About <span class="visually-hidden">{{- site.Title -}}</span></h1>
  </header>

  <section class="about">
    <div class="prose">{{- .Content -}}</div>

    <div class="about__contact">
      <div class="avatar avatar--spin">
        <img src="{{- `assets/avatar.png` | relURL -}}" alt="The photo shows {{- site.Title -}}" />
      </div>
      <nav aria-label="Social links">
        <ul class="about__social-links">
          <li>
            <a class="social-icon" style="--url: url({{- `assets/x.svg` | relURL -}})" href="https://x.com/{{- site.Params.social.twitter -}}" rel="external noopener" target="_blank">Twitter (X)</a>
          </li>
          <li>
            <a class="social-icon" style="--url: url({{- `assets/github.svg` | relURL -}})" href="https://github.com/{{- site.Params.social.github -}}" rel="external noopener" target="_blank">GitHub</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
</main>

{{- end -}}
