{{- define "main" -}}

<main class="l-wrapper">
  <header class="l-page-title">
    <h1><span class="u-visually-hidden">{{ site.Title }}'s</span> Archive</h1>
  </header>

  <section class="archive">
    {{- range (where .Site.RegularPages "Section" "posts").GroupByDate "2006" -}}
      <div class="archive__year">
        <h2 class="archive__year-title">{{- .Key -}}</h2>
        <div class="archive__posts">
          {{- range .Pages -}}
          <div class="archive__post u-underline-on-hover">
            <h3 class="u-h4 u-underline">{{- .Title -}}</h3>
            <time datetime="{{- .Date.Format `2006-01-02T15:04:05Z07:00` -}}" class="time">{{- .Date | time.Format ":date_medium" -}}</time>
            <a class="u-overlay" href="{{- .RelPermalink -}}">{{- .Title -}}</a>
          </div>
          {{- end -}}
        </div>
      </div>
    {{- end -}}
  </section>
</main>

{{- end -}}
