{{- define "main" -}}

<main class="l-wrapper">
  <header class="l-page-title">
    <h1><span class="u-visually-hidden">{{ site.Title }}'s</span> Projects</h1>
  </header>

  <section class="projects">
    {{- range .Site.Data.projects -}}
      <article class="project u-underline-on-hover">
        <div class="project__image-container">
          <img class="project__image" src="/projects/{{- .image -}}" alt="{{- .name -}}" />
        </div>
        <div class="project__details">
          <header>
            <h2 class="u-h4 u-underline">{{- .name -}}</h2>
          </header>
          <main>
            <p class="project__description">{{- .description -}} </p>
            <a class="u-overlay" href="{{- .url -}}" rel="external noopener" target="_blank">{{- .name -}}</a>
          </main>
          <footer>
            <ul class="project__tags">
              {{- range .tags -}}
                <li>{{- . -}}</li>
              {{- end -}}
            </ul>
          </footer>
        </div>
      </article>
    {{- end -}}
  </section>
</main>

{{- end -}}
