{{- $source := .Page.Resources.GetMatch (.Destination) -}}
{{- if and $source (in (slice "image/jpeg" "image/png") $source.MediaType.Type) -}}
  {{- $maxWidth := site.Params.maxImageWidth -}}
  {{- $sizes := slice (math.Min $source.Width (div $maxWidth 2)) (math.Min $source.Width $maxWidth) (math.Min $source.Width (mul $maxWidth 2)) | uniq -}}

  <picture>
    <source type="image/webp" srcset="
      {{- range $idx, $size := $sizes -}}
        {{- if $idx }}, {{ end -}}{{- ($source.Resize (print $size `x webp`)).RelPermalink }} {{ $size }}w
      {{- end -}}
    " />
    <source type="image/jpeg" srcset="
      {{- range $idx, $size := $sizes -}}
        {{- if $idx }}, {{ end -}}{{- ($source.Resize (print $size `x jpg`)).RelPermalink }} {{ $size }}w
      {{- end -}}
    " />
    <img src="{{- ($source.Resize (print (math.Min $source.Width $maxWidth) `x jpg`)).RelPermalink -}}" alt="{{- .PlainText -}}" loading="lazy"
      {{- with .Title -}} title="{{- . -}}" {{- end -}}
      {{- range $k, $v := .Attributes -}}
        {{- if $v -}}
          {{- printf " %s=%q" $k ($v | transform.HTMLEscape) | safeHTMLAttr -}}
        {{- end -}}
      {{- end -}}
    />
  </picture>
{{- else -}}
  <img src="{{- .Destination -}}" alt="{{- .PlainText -}}"
    {{- with .Title -}} title="{{- . -}}" {{- end -}}
    {{- range $k, $v := .Attributes -}}
      {{- if $v -}}
        {{- printf " %s=%q" $k ($v | transform.HTMLEscape) | safeHTMLAttr -}}
      {{- end -}}
    {{- end -}}
  />
{{- end -}}