{{- define "main" -}}

{{- $pages := union .RegularPages .Sections -}}
{{- if $.IsHome -}}
  {{- $pages = where .Site.RegularPages "Section" "posts" -}}
{{- end -}}
{{- $paginator := .Paginate $pages -}}

{{- if and $.IsHome (eq $paginator.PageNumber 1) -}}
  <div class="posts__background"></div>
{{- end -}}

<main class="posts wrapper">
  {{- if eq .Section "tags" -}}
    <header>
      <h1 class="page-title">#{{- lower .Title -}}</h1>
    </header>
  {{- end -}}

  {{ if and $.IsHome (eq $paginator.PageNumber 1) }}
    <div class="posts__heading">
      <div class="avatar avatar--spin">
        <picture>
          <source type="image/webp" srcset="{{- `assets/avatar.webp` | relURL -}}" />
          <img src="{{- `assets/avatar.jpg` | relURL -}}" alt="A photo of {{ site.Title }}" />
        </picture>
      </div>
    </div>
  {{ end }}

  {{- range $index, $post := $paginator.Pages -}}
    {{- if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) -}}
      <article class="posts__post posts__post--featured">
        <header>
          <h2 class="posts__post-title underline transition-between-pages" style="--id: {{ .Slug }}">{{- .Title -}}</h2>
          <time datetime="{{- .Date.Format `2006-01-02T15:04:05Z07:00` -}}" class="posts__post-time">{{- .Date | time.Format ":date_medium" -}}</time>
        </header>
        <main class="posts__post-summary">
          {{- .Summary -}}
        </main>
        <footer>
          <a class="overlay" href="{{- .RelPermalink -}}">{{- .Title -}}</a>
        </footer>
      </article>
    {{- else -}}
      <section class="posts__post">
        <h2 class="posts__post-title underline{{- if ne $.Section `tags` }} transition-between-pages{{- end -}}" style="--id: {{ .Slug }}">{{- .Title -}}</h2>
        <time datetime="{{- .Date.Format `2006-01-02T15:04:05Z07:00` -}}" class="posts__post-time">{{- .Date | time.Format ":date_medium" -}}</time>
        <a class="overlay" href="{{- .RelPermalink -}}">{{- .Title -}}</a>
      </section>
    {{- end -}}
  {{- end -}}

  {{- if gt $paginator.TotalPages 1 -}}
    <nav class="posts__navigation">
      {{- if $paginator.HasPrev -}}
        <a class="button" href="{{- $paginator.Prev.URL -}}">← Previous Page</a>
      {{- end -}}
      {{- if $paginator.HasNext -}}
        <a class="button" href="{{- $paginator.Next.URL -}}">Next Page →</a>
      {{- end -}}
    </nav>
  {{- end -}}
</main>

{{- end -}}
