{{- define "main" -}}

<main class="wrapper">
  <article>
    <header class="page-title">
      <h1>{{ .Title }}</h1>
      <time class="post__time">{{- .Date | time.Format ":date_medium" -}}</time>
    </header>

    <main class="prose">{{ .Content }}</main>

    {{- if .Params.tags -}}
      <footer class="post__tags">
        {{- range .Params.tags -}} 
          {{- $href := print (relURL "/archive/tag/") (urlize .) -}}
          <a href="{{ $href }}">{{ . }}</a>
        {{- end -}}
      </footer>
    {{- end -}}
  </article>
</main>

{{- end -}}
