{{- define "main" -}}

<main class="l-wrapper">
  <article>
    <header class="l-page-title">
      <h1 class="u-transition-between-pages" style="--id: {{ .Slug }}">{{ .Title }}</h1>
      <time datetime="{{- .Date.Format `2006-01-02T15:04:05Z07:00` -}}" class="published-at">{{- .Date | time.Format ":date_medium" -}}</time>
    </header>

    <main class="u-prose">
      {{- .Content -}}
    </main>

    <footer class="post-footer">
      {{- with .Params.tags -}}
        <ul class="tags tags--large">
          {{- range . -}}
            {{- $href := print (relURL "/archive/tag/") (urlize .) -}}
            <li><a href="{{ $href }}">{{ . }}</a></li>
          {{- end -}}
        </ul>
      {{- end -}}

      {{- with site.RegularPages.Related . | first 5 -}}
        <div class="related">
          <h3 class="related__title">Related Posts</h3>
          <ul class="related__posts">
            {{- range . -}}
              <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{- end -}}
          </ul>
        </div>
      {{- end -}}
    </footer>
  </article>

  {{ partial "podcast-ad.html" . -}}

  <div class="scroll-watcher"></div>
</main>

{{- end -}}
