{{- define "main" -}}

<main class="wrapper">
  <article>
    <header class="page-title">
      <h1 class="transition-between-pages" style="--id: {{ .Slug }}">{{ .Title }}</h1>
      <time datetime="{{- .Date.Format `2006-01-02T15:04:05Z07:00` -}}" class="post__time">{{- .Date | time.Format ":date_medium" -}}</time>
    </header>

    <main class="prose">{{ .Content }}</main>

    {{- if .Params.tags -}}
      <footer class="post__tags">
        {{- range .Params.tags -}}
          {{- $href := print (relURL "/archive/tag/") (urlize .) -}}
          <a href="{{ $href }}">{{ . }}</a>
        {{- end -}}
      </footer>
    {{- end -}}
  </article>

  {{- with site.RegularPages.Related . | first 5 -}}
    <div class="related-posts prose">
      <h3>Related Posts</h3>
      <ul>
        {{- range . -}}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{- end -}}
      </ul>
    </div>
  {{- end -}}

  <div class="scroll-watcher"></div>
</main>

{{- end -}}
