:root {
  --font-family-heading: ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-body: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --font-size-root: 1rem;
  --font-scale-ratio: 1.125; /* major second scale */
  --font-size--2: calc(var(--font-size--1) / var(--font-scale-ratio));
  --font-size--1: calc(var(--font-size-0) / var(--font-scale-ratio));
  --font-size-0: var(--font-size-root);
  --font-size-1: calc(var(--font-size-0) * var(--font-scale-ratio));
  --font-size-2: calc(var(--font-size-1) * var(--font-scale-ratio));
  --font-size-3: calc(var(--font-size-2) * var(--font-scale-ratio));
  --font-size-4: calc(var(--font-size-3) * var(--font-scale-ratio));
  --font-size-5: calc(var(--font-size-4) * var(--font-scale-ratio));
  --font-size-6: calc(var(--font-size-5) * var(--font-scale-ratio));
  --font-size-7: calc(var(--font-size-6) * var(--font-scale-ratio));
  --font-size-8: calc(var(--font-size-7) * var(--font-scale-ratio));

  --font-weight-0: 400;
  --font-weight-1: 500;
  --font-weight-2: 600;
  --font-weight-3: 700;

  --spacing-step: 0.25rem;
  --spacing-0: 0px;
  --spacing-1: var(--spacing-step);
  --spacing-2: calc(var(--spacing-1) + var(--spacing-step));
  --spacing-3: calc(var(--spacing-2) + var(--spacing-step));
  --spacing-4: calc(var(--spacing-3) + var(--spacing-step));
  --spacing-5: calc(var(--spacing-4) + var(--spacing-step));
  --spacing-6: calc(var(--spacing-5) + var(--spacing-step));
  --spacing-7: calc(var(--spacing-6) + var(--spacing-step));
  --spacing-8: calc(var(--spacing-7) + var(--spacing-step));
  --spacing-9: calc(var(--spacing-8) + var(--spacing-step));
  --spacing-10: calc(var(--spacing-9) + var(--spacing-step));
  --spacing-11: calc(var(--spacing-10) + var(--spacing-step));
  --spacing-12: calc(var(--spacing-11) + var(--spacing-step));
  --spacing-13: calc(var(--spacing-12) + var(--spacing-step));
  --spacing-14: calc(var(--spacing-13) + var(--spacing-step));
  --spacing-15: calc(var(--spacing-14) + var(--spacing-step));
  --spacing-16: calc(var(--spacing-15) + var(--spacing-step));

  --border-radius-1: 5px;
  --border-radius-2: 10px;

  --background-colour-rgb: 255 255 255;
  --text-colour-rgb: 0 0 0;
  --underline-colour-rgb: 187 247 208;

  @media (prefers-color-scheme: dark) {
    --background-colour-rgb: 37 37 36;
    --text-colour-rgb: 255 255 255;
    --underline-colour-rgb: 255 255 255 / 20%;
  }

  --mobile-navigation-z-index: 40;
  --wrapper-padding: var(--spacing-6);
  --wrapper-max-width: 74ch;
  --prose-max-asset-height: 500px;
  --site-header-height: 4.5rem;
}
