@view-transition {
  navigation: auto;
}

html {
  font-family: var(--font-family-body);
  font-size: var(--font-size-root);
  color: rgb(var(--text-colour-rgb));
  background-color: rgb(var(--background-colour-rgb));

  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
.u-h1 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-2);
}

h2,
.u-h2 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-2);
}

h3,
.u-h3 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-2);
}

h4,
.u-h4 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-2);
}

h5,
.u-h5 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-2);
}

h6,
.u-h6 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-2);
}

a {
  color: rgb(var(--text-colour-rgb));
  text-decoration: none;
}

.l-wrapper {
  max-inline-size: var(--wrapper-max-width);
  padding-inline: var(--wrapper-padding);
  margin-inline: auto;
}

.l-page-title {
  margin-block: var(--spacing-12);
}

.time {
  margin-top: var(--spacing-2);
  display: block;
  color: rgb(var(--text-colour-rgb) / 50%);
  font-size: var(--font-size--2);
}

.button {
  --text-colour: rgb(var(--background-colour-rgb));
  --background-colour: rgb(var(--text-colour-rgb));

  border-radius: var(--border-radius-2);
  color: var(--text-colour);
  background-color: var(--background-colour);
  padding: var(--spacing-3) var(--spacing-5);
  font-size: var(--font-size--1);
  transition: transform 100ms linear;

  &:active {
    transform: scale(0.95);
  }
}

.scroll-watcher {
  display: none;
}

@supports (animation-timeline: scroll()) {
  .scroll-watcher {
    display: block;
    position: fixed;
    height: 5px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: calc(var(--mobile-navigation-z-index) - 1);
    background-color: rgb(var(--text-colour-rgb));
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
  }

  @keyframes scroll-watcher {
    to {
      scale: 1 1;
    }
  }
}
