.related {
  font-size: 1.125rem;
  line-height: 2rem;
}

.related__title {
  margin-bottom: var(--spacing-3);
}

.related__posts {
  list-style-type: disc;

  li {
    padding-left: var(--spacing-1);
    margin-block: var(--spacing-2);

    &::marker {
      color: rgb(var(--text-colour-rgb) / 50%);
    }
  }

  a {
    text-decoration: underline;
    font-weight: var(--font-weight-1);
  }
}
