.button {
  --text-colour: rgb(var(--background-colour-rgb));
  --background-colour: rgb(var(--text-colour-rgb));

  border-radius: var(--border-radius-2);
  color: var(--text-colour);
  background-color: var(--background-colour);
  padding: var(--spacing-3) var(--spacing-5);
  font-size: var(--font-size--1);
  transition: transform 100ms linear;

  &:active {
    transform: scale(0.95);
  }
}
