.avatar {
  --_size: 10rem;

  border-radius: 9999px;
  border-width: 0.5px;
  background-color: rgb(var(--background-colour-rgb));
  border: 1px solid rgb(var(--text-colour-rgb) / 10%);
  padding: var(--spacing-2);
  width: var(--_size);
  height: var(--_size);

  img {
    border-radius: 9999px;
  }
}

@media (hover: hover) and (prefers-reduced-motion: no-preference) {
  .avatar--spin:hover {
    animation: spin-once 400ms linear;
  }

  @keyframes spin-once {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
