.social-icon {
  --_size: 1.5rem;

  display: block;
  width: var(--_size);
  height: var(--_size);
  background: var(--url) center center/cover no-repeat;
  font-size: 0;
}

[data-theme='dark'] {
  .social-icon {
    filter: invert(1);
  }
}
