.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-8);

  @media (width < 760px) {
    grid-template-columns: 1fr;
  }
}

.project {
  border-radius: var(--border-radius-2);
  overflow: hidden;
  box-shadow: 0 4px 6px rgb(var(--text-colour-rgb) / 10%);
  position: relative;
  transition: transform 250ms ease-in-out;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.03);

      .project__title.underline {
        --length: 100%;
      }

      .project__image {
        transform: scale(1.03);
      }
    }
  }
}

@supports (animation-timeline: view()) {
  .project {
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
    scale: 0.8;
    opacity: 0;
  }

  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }
}

.project__image-container {
  overflow: hidden;
  position: relative;
  height: 150px;
}

.project__image {
  --_size: 100%;

  width: var(--_size);
  height: var(--_size);
  transition: transform 200ms linear 100ms;
  object-fit: cover;
  object-position: 0% 0%;
}

.project__details {
  padding: var(--spacing-6);
}

.project__title {
  font-size: var(--font-size-2);

  &.underline {
    --length: 0;
  }
}

.project__description {
  color: rgb(var(--text-colour-rgb) / 60%);
}

.project__tags {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: var(--spacing-2);
  padding: 0;
  margin-top: var(--spacing-4);
  margin-bottom: 0;

  li {
    font-weight: var(--font-weight-1);
    font-size: var(--font-size--1);
    background-color: rgb(var(--text-colour-rgb) / 3%);
    padding: var(--spacing-1) var(--spacing-3);
    border-radius: var(--border-radius-1);
  }
}
