.post__tags {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-1);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--spacing-12);
  gap: var(--spacing-2);

  a {
    padding: var(--spacing-1) var(--spacing-5);
    background-color: rgb(var(--text-colour-rgb) / 3%);
    border-radius: var(--border-radius-2);
    transition: transform 100ms linear;

    &:active {
      transform: scale(0.95);
    }
  }
}

.post__time {
  margin-top: var(--spacing-2);
}

.related-posts {
  margin-block: var(--spacing-16);
}
