<footer class="site-footer l-wrapper">
  <div>&copy; {{ now.Year }}, {{ site.Title }}</div>

  <button class="site-footer__theme-toggle" type="button" title="Toggle theme" aria-label="Toggle theme">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 32 32" role="img">
      <title>Theme toggle icon</title>
      <desc>A circle representing the moon for toggling theme</desc>
      <path d="M16 .5C7.4.5.5 7.4.5 16S7.4 31.5 16 31.5 31.5 24.6 31.5 16 24.6.5 16 .5zm0 28.1V3.4C23 3.4 28.6 9 28.6 16S23 28.6 16 28.6z"></path>
    </svg>
  </button>
</footer>
