<div class="podcast-ad u-overlay-wrapper">
  <div class="podcast-ad__artwork">
    <img src="https://compiledconversations.com/album-art.jpg" alt="Compiled Conversations podcast album art" class="podcast-ad__artwork-image" />
  </div>
  <div class="podcast-ad__content">
    <h3 class="podcast-ad__title">Compiled Conversations</h3>
    <p class="podcast-ad__description">Podcast I host, featuring conversations with the people shaping software and technology.</p>
    <div class="podcast-ad__link">Check out the show</a>
  </div>
  <a class="u-overlay" href="https://compiledconversations.com" target="_blank">Listen to Compiled Conversations</a>
</div>
